* {
    margin: 0;
    padding: 0;
  }
  
  /*--------------------------------HEADER-----------------------------------*/
  
  .cabecalho {
    width: 100%;
    height: 130px;
    background-color: #85cdf5;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .textoCabecalho {
    font-size: 30px;
    font-weight: 700;
    font-family: "Darker Grotesque", sans-serif;
    color: black;
    text-decoration: none;
  }
  
  .logoHome img {
    width: 95.5504px;
    height: 110.72px;
    padding: 10px;
  }
  
  /*--------------------------------FOOTER-----------------------------------*/
  
  .rodaPe {
    width: 100%;
    height: 270px;
    background-color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
  }
  
  .rodaPe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: linear-gradient(to right, #deb959, #2c5680);
  }
  
  iframe {
    width: 250px;
    height: 168px;
    padding-left: 209px;
  }
  
  .contatoEQuemSomos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
  }
  
  .pinLoc,
  .telefone,
  .email {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  
  .pinLoc p,
  .telefone p,
  .email p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: "Darker Grotesque", sans-serif;
  }
  
  .pinLoc img,
  .telefone img,
  .email img {
    width: 19px;
    height: 19px;
  }
  
  .contatoEQuemSomos a {
    text-decoration: none;
  }
  
  .contatoEQuemSomos button {
    width: 144px;
    height: 30px;
    padding-bottom: 5px;
    font-size: 22px;
    font-weight: 700;
    font-family: "Darker Grotesque", sans-serif;
    color: #353535;
    background-color: #deb959;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  .desenvolvidoCom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 150px;
  }
  
  .desenvolvidoCom p {
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: "Darker Grotesque", sans-serif;
  }
  
  .desenvolvidoCom img {
    width: 104px;
    height: 104px;
  }

  /*--------------------------------MAIN-----------------------------------*/       

main {
    padding: 50px 221px 112px 221px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 54px 74.11px 50px 72.3px;
    border: 4px solid #333333;
}
section > h1 {
    margin-bottom: 67px;
  }
  
section > form {
    margin-bottom: 50px;
  }

section h1 {
    font-size: 60px;
    font-weight: 600;
    font-family: "Darker Grotesque", sans-serif;
    color: #000000;
    width: 811.59px;
    text-align: center;
}

form {
    width: 761.53px;
    height: 512px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.nome,
.idade,
.link,
.descricao {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 30px;
    font-weight: 500;
    font-family: "Darker Grotesque", sans-serif;
    color: #000000;
    }

.nome input,
.idade input,
.link input {
    height: 35px;
    background-color: #e6e6e6;
    border: 1px solid #000000;
    }

.nome {
    width: 564px;
    height: 87px;
}

.idade {
    width: 177.14px;
    height: 87px;
}

.link {
    width: 761px;
    height: 89px;
}

.descricao {
    width: 761px;
    height: 298px;
}

.descricao textarea {
    width: 761px;
    height: 250px;
    resize: none;
    background-color: #e6e6e6;
    border: 1px solid #000000;
}

section button {
    background-color: #2c5680;
    width: 209px;
    height: 60px;
    font-family: 'Roboto', sans-serif;

}